body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}

#paragraph-result {
    margin-top: 50px;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}