body {
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: rgb(30, 30, 30);
    padding: 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: 2px solid lightgray;
}

h1 {
    color: greenyellow;
    text-align: center;
}

.inputCnt {
    display: flex;
    justify-content: space-evenly;
}

label {
    color: greenyellow;
}

#botaoCalcular {
    background-color: greenyellow;
    margin: none;
    border-radius: 5px;
}

main {
    background-color: rgb(60, 60, 60);
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
}

.calculoCnt {
    width: 100%;
    padding: 10px;
    text-align: left;
    display: inline-block;
    border: 1px solid black;
    line-height: 0;
}

.test {
    padding: 10px;
}

.calculoNome {
    color: #6980d6;
}

.resultado {
    color: white;
    font-size: 2em;
}